.path-button {
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #5b5b5b;
    color: "rgba(0, 0, 0, 0)"; 
    text-decoration: none;
    font-size: 16;
}

.button-container {
    font-size: 0; /* This removes the space between inline-block elements */
}

.path-button {
    font-size: 15px; /* Reset the font size for the buttons */
}

.load-button {
    font-size: 15px; /* Reset the font size for the buttons */
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(71, 72, 73);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

.scroll-container {
    margin-right: 10px; 
    overflow-y: scroll;
    overflow-x: hide;
    width: 10px;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
